/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #ecf6f5;
   --cor-de-link: #000;
   --color-titulos: #535d62;
   --color-fondo-azul: #e3ecee;
   --color-cajas: #fbfbfb;
   --azul-botones:#2a7ae4:
   --radius: 7px;
}

body, main, header, footer {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
/*a{
    text-decoration: none;
    color: var(--cor-de-link);
}*/

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/


/*Sección Menu*/
header {
    width: 100%;
    background-color: #daeff5;
}
nav {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
nav h1 {
    font-size: 2em;
    font-weight: bold;
    margin-top: auto;
}
nav .links {
    font-size: 1em;
    width: 50%;
    padding: 1.5em;
}
nav .links li:hover {
     color: blue;
    text-decoration: none;
    font-size: 1.2em;
}
nav .links ul {
    display: flex;
    justify-content: space-around;
}
nav .mail {
    font-size: 1.2em;
    font-weight: bold;
}

/*cabeza y espacios*/
header .menu__header{
    display: flex;
    justify-content: space-between;
    font-size: 16px;/*letras*/
    font-weight: 700;
    color: var(--color-titulos);
}
/* item del menu*/
section.menu nav ul.menu__list{
    display: flex;
    justify-content:space-between;
    font-size: 16px;
    width: 750px;
}
/*estilo para email*/
section.menu nav ul.menu__list li:nth-child(6){
    color: black;
    font-weight: 800    ;
}
/*Sección Title*/

section.title{
margin: 0 153px;
width: 80%;
color: var(--color-titulos);
}
section.title div.title__div{
    justify-content: space-around;
    align-content: flex-start;
    display: flex;
    flex-direction: row-reverse; /*la imagen cambio de derecha a izquierda*/
}
section.title div.title__container h2{
    font-size: 50px;
    font-weight: bold;
    line-height: 61px; /*separacion de lineas*/

}
/*imagen de perfil*/
section.title img.title__profile{
    width: 268px;
    border-radius: 300px;
}
section.title div.title__div.title__container h3{
    font-size: 17px;
    line-height: 23px;
    width: 600px;
    margin-bottom: 30px;
}
section.title div.title__div div.title__container ul{
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px;
width: 500px;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px;
}
/*Sección About*/

section.about{
padding: 62px 153px;
background-color: var(--color-fondo-azul);
}
section.about div.about__container{
    width: 700px;
}

section.about h3.about__title{
    font-size: 32px;  
}
section.about div.about__container p{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

}

.title__network{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
}
.title__network__item:hover{
    color: blue;
    text-decoration: none;
    font-size: 1.2em;
}

section.skills{
    margin: 64px 100px;  
}
section.skills h3.skills__title{
    font-size: 32px;
    text-align: center; 
}
section.skills div.skills__line{
    display: flex;
    flex-wrap: wrap;
justify-content: space-around; 
 width: 100%;
}
/*section.skills div.skills__box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    background-color: var(--color-cajas);
    margin: 20px 13px 20px 0px;
    width: 100px;
    height: 100px;
}*/
section.skills div.skills__box ul{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    color: var(--color-titulos);
}
.skills__name{
    text-align: center;

}
/*Sección Hobbies*/

section.hobbies{
    margin: 64px 100px;  
}
section.hobbies h3.hobbies__title{
    font-size: 32px; 
    text-align: center;
}
section.hobbies div.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    width: 100%;
}
section.hobbies div.hobbies__box{
    margin: 0;
    padding: 0;

    line-height: 19px;
    font-weight: bold;
    color: var(--color-titulos);
    text-align: center;
}
/* Experiencia Académica*/

section.academic{
padding: 64px 0;
background-color: #e6f9f7;


}
section.academic h2.academic__title{
    font-size: 32px;
    text-align: center;
}
.academic__courses__item__titles h4{
    text-align: center;
}
section.academic div.academic__courses{
    display: flex;
    justify-content: center;
}
section.academic div.academic__courses__box{
    width: 26.6rem;
    margin: 0 1rem;
}
section.academic div.academic__courses__box ul{
    margin: 32px;
    padding: 0;

}
section.academic div.academic__courses__box  li{
    padding: 0;
    margin: 32px;
    
}

.div.academic__courses__box ul li.academic__courses__item__img{
background-color: var(--color-cajas);
padding: 8%;

}
section.academic div.academic__courses__list
/* experiencia*/

section.experience{
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 2em;
}
.experiencie__box{
    width: 80%;
    margin: 0 auto;
    align-items: flex-start;
    display: flex;
    padding: 4em 0;
    align-items: center; 
}
.experience__img{
    width: 50%;
    margin-right: 2em;
}


/*Contacto*/

#contacto {
    width: 100%;
    height: auto;
    background-color: #bbbbbb;
    display: flex;
}
.imgContacto {
    width: 60%;
    margin: auto;
}
#form {
    width: 40%;
    margin: 2em;
}
.encabezado h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em 0;
}
.encabezado p {
    font-size: 1em;
    font-style: italic;
}
#datos {
    margin-top: 1em;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ingresoDato {
    margin: 0.5em 0;
    width: 80%;
    height: 2.5em;
    align-items: flex-start;
    font-size: 1em;
    border: none;
    border-radius: 5px 5px;
}
#enviar {
    width: 12em;
    height: 3em;
    margin: 0 auto;
    margin-top: 2em;
    background-color: blue;
    color: white;
    border: none;
    align-items: center;
}
#enviar:hover {
    background-color: white;
    color: blue;
    font-weight: bold;
    border: 3px solid blue;
    transition: 300ms;
}
/*footeer*/

section.footer{
    width: 100%;
    height: 10vh;
    text-align: center;
    padding-top: 2em;
    background-color: black;
    color: white;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 600px) {
    header {
        height: 5em;
        align-items: center;
        padding-top: 0.5em;
    }
    .github {
        margin: 1em 0;
    }
    .botones {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
@media screen and (max-width: 600px) {
    #banner {
        height: auto;
    }
    .contenedorTextoBanner > div {
        margin: 1em 0;
    }
    #about {
        height: auto;
    }
    #skills {
        height: auto;
    }
    .containerSkillsIt, .containerSkillsLive h1 {
        margin: 0.5em;
        padding-bottom: 1em;
    }
    .cardSkill, .cardSkillLive, .cardFormacion {
        margin: 1em 0;
    }
    #formacion {
        height: auto;
        padding: 1em 0 1em 0;
    }
}
@media screen and (max-width: 576px) {
    header {
        height: auto;
    }
    nav {
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 1em 0;
        padding-bottom: 1em;
    }
    nav .links {
        width: 90%;
        margin: 0 auto;
    }
    #title {
        flex-direction: column;
    }
    .title__profile {
        width: 50%;
    }
    .mail h2 {
        font-size: 3em;
        font-weight: bold;
    }
    
    .title__network {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        padding: 0.5em;
    }
    .title__network li {
        margin: 0.5em 0;
    }
    #about {
        height: auto;
    }
    .sobreMi {
        height: 100%;
    }
    .about__paragraph {
        height: auto;
        padding-bottom: 1em;
    }
    .img {
        width: 100%;
    }
    .experience {
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
    .experience__section__title{
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: flex-start;
    }
    .experience__img {
        margin-left: 0;
        width: 80%;    
    }
    .cardProject .img {
        margin-left: 0;
        width: 80%;
    }
    #contacto {
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        margin: 2em auto;
    }
    .imgContacto {
        width: 100%;
    }
    #form {
        width: 100%;
    }
    .encabezado p {
        width: 90%;

    }

}

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/



/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}